<?xml version="1.0" encoding="UTF-8"?>
 
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >

	 
	 
    <bean id="lcaServiceF" class="com.nttdata.checkin.service.impl.LCA01ServiceFactory">
	  <property name="lca1Service" ref="lca1Service"></property>
	</bean>
	 
	<bean id="lcaServiceM" class="com.nttdata.checkin.service.impl.LCA01ServiceMockFactory">
		<property name="lcaService" ref="lcaService"></property>
	</bean>
	
	<bean class="com.nttdata.checkin.ws.rest.CheckInWebService">
		<property name="lcaServiceM" ref="lcaServiceM"></property>
	</bean>  
   
   <bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/TEST"/>
      <property name="username" value="root"/>
      <property name="password" value="password"/>
   </bean>

 
   <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
 
	<bean id="lcaService" class="com.nttdata.checkin.service.impl.LCAServiceMock">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	 
	 <bean id="lca1Service" class="com.nttdata.checkin.service.impl.LCA01Service" />

</beans>